:root {
  --black: #242424;

  --purple: #8946a6;
  --pink: #ffcddd;
}

html,
body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.layout {
  padding: 10px 0 10px 75px;
  min-height: 100vh;
  background: linear-gradient(var(--purple), var(--pink));
  overflow: hidden;
  color: #fff;
}
